
.AccountTypeBoard{
    text-align: center;
     height: 100vh;
     position: relative;
     background: url(../../../src/assets/BACKGROUNDTYPE.svg) no-repeat;
     background-size: 99%;
     background-position-x:38px ;
     background-position-y:-70px ;


}
.AccountTypeBoard p{
    margin-top: 20px;
    font-size: 16px;
    padding-bottom: 10px;

}

.AccountTypeBoard h2{
font-size: 35px;
padding-top: 40px;
}
.AccountTypeBoard h2 h7{
    color: #45ABC2;
    margin-top: 0px;
    font-size: 35px;
}

#pp{
    padding-top: 40px;
    width: 70%;
    height: 340px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
   
}

#logo{
    height: 60PX;
    width: 147PX;
    background: url(../../assets/logo.svg) no-repeat;
    background-Size: 90%;
    text-indent: -8888px;
    margin-top: 5px;
    }
